@import 'tailwindcss';
@import '../styles/fonts/Inter/index.css';
@import '../styles/fonts/Roboto/index.css';
@import '../styles/fonts/Poppins/index.css';

body {
    font-family:'Poppins';
    padding-top: 100px;
    padding-bottom: 150px;
    background: rgb(253,251,253);
}
* {
    transition: 0.25s !important;
    box-sizing: border-box !important;
}

li {
    display: list-item;
}

/* Hide the 'x' button for Webkit browsers (Chrome, Safari, Edge) */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Hide the 'x' button for Internet Explorer/Edge (legacy) */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Ensure the appearance utility works correctly for Firefox */
input[type="search"] {
  appearance: none;
  -moz-appearance: none;
}

.disappear {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgb(255,255,255));
    box-sizing: content-box;
    
}

.centerDiv {
    @apply top-1/2 left-1/2 transform -translate-x-1/2  overflow-y-auto -translate-y-1/2
}
.wter {
    background: rgb(242,242,248);
}